---
baseURL: https://emissary-ingress.dev
enableRobotsTxt: true

module:
  replacements: 'github.com/FortAwesome/Font-Awesome -> ., github.com/twbs/bootstrap -> .'
  imports:
    - path: docsy

themesDir: "node_modules" # docsy is installed via npm

# Will give values to .Lastmod etc.
enableGitInfo: true

# Language settings
contentDir: content/en
defaultContentLanguage: en
defaultContentLanguageInSubdir: false
languageCode: en-us
googleAnalytics: G-VF9H3EHMDK

# Useful when translating.
enableMissingTranslationPlaceholders: true

disableKinds: [taxonomy, term]

# Highlighting config
pygmentsCodeFences: true
pygmentsUseClasses: false
# Use the new Chroma Go highlighter in Hugo.
#pygmentsOptions = "linenos=table"
# See https://help.farbox.com/pygments.html
pygmentsStyle: fruity # "tango"

# Image processing configuration.
imaging:
  resampleFilter: CatmullRom
  quality: 75
  anchor: smart

languages:
  en:
    params:
      title: Emissary-ingress
      description: >-
        An open source Kubernetes-native API gateway for microservices built on the Envoy Proxy
      languageName: English
      contentDir: content/en
      weight: 1

markup:
  goldmark:
    renderer:
      unsafe: true
  highlight:
    # See a complete list of available styles at https://xyproto.github.io/splash/docs/all.html
    style: tango
    # Uncomment if you want your chosen highlight style used for code blocks without a specified language
    # guessSyntax: true

# Everything below this are Site Params

params:
  copyright:
    from_year: 2017
    authors: |
      Emissary-ingress Authors

      <div class="row text-center text-white small">
        <div class="col-12 text-center py-2 order-sm-2">
          <a href="https://www.linuxfoundation.org/terms" target="_blank" rel="noopener">Terms</a> |
          <a href="https://www.linuxfoundation.org/privacy" target="_blank" rel="noopener">Privacy</a> |
          <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank" rel="noopener">Trademarks</a> |
          <a href="https://github.com/emissary-ingress/emissary-ingress.dev/blob/main/LICENSE" target="_blank" rel="noopener">License</a>
        </div>
      </div>
  description: >-
    An open source Kubernetes-native API gateway for microservices built on the Envoy Proxy

  # Repository configuration (URLs for in-page links to opening issues and suggesting changes)
  github_repo: https://github.com/emissary-ingress/emissary
  github_branch: main

  # An optional link to a related project repo. For example, the sibling repository where your product code lives.
  github_project_repo: https://github.com/emissary-ingress/emissary-ingress.dev

  # Enable Lunr.js offline search
  offlineSearch: true

  # Enable syntax highlighting and copy buttons on code blocks with Prism
  prism_syntax_highlighting: false

  # Versions

  # Menu title if your navbar has a versions selector to access old versions of your site.
  # This menu appears only if you have at least one [params.versions] set.
  version_menu: Versions
  latest_stable_version: 3.10
  versions:
    - version: v3.10
      url: /docs/3.10/

    - version: v3.9
      url: /docs/3.9/

    - version: v3.8
      url: /docs/3.8/

    - version: v3.7
      url: /docs/3.7/

    - version: v3.6
      url: /docs/3.6/

    - version: v2.5
      url: /docs/2.5/

    - version: v1.14
      url: /docs/1.14/

  # User interface configuration
  ui:
    sidebar_menu_compact: true
    sidebar_search_disable: true
    navbar_logo: true
    footer_about_enable: false
    navbar_translucent_over_cover_disable: true

    # Adds a H2 section titled "Feedback" to the bottom of each doc. The responses are sent to Google Analytics as events.
    # This feature depends on [services.googleAnalytics] and will be disabled if "services.googleAnalytics.id" is not set.
    # If you want this feature, but occasionally need to remove the "Feedback" section from a single page,
    # add "hide_feedback: true" to the page's front matter.
    feedback:
      enable: true
      # The responses that the user sees after clicking "yes" (the page was helpful) or "no" (the page was not helpful).
      'yes': >-
        Glad to hear it! Please <a
        href="https://github.com/emissary-ingress/emissary-ingress.dev/issues/new">tell us how we
        can improve</a>.
      'no': >-
        Sorry to hear that. Please <a
        href="https://github.com/emissary-ingress/emissary-ingress.dev/issues/new">tell us how we
        can improve</a>.

    # Adds a reading time to the top of each doc.
    # If you want this feature, but occasionally need to remove the Reading time from a single page,
    # add "hide_readingtime: true" to the page's front matter
    readingtime:
      enable: false

  # Footer Links
  links:
    # Developer relevant links. These will show up on right side of footer and in the community page if you have one.
    developer:
      - name: Emissary on GitHub
        url: https://github.com/emissary-ingress/emissary
        icon: fab fa-github-square
      - name: emissary-ingress.dev on GitHub
        url: https://github.com/emissary-ingress/emissary-ingress.dev
        icon: fab fa-github
  # [params.logos]
  hero: >-
    https://raw.githubusercontent.com/cncf/artwork/master/projects/emissary-ingress/horizontal/color/emissary-ingress-horizontal-color.png
mediaTypes:
  text/netlify: {}

outputFormats:
  REDIRECTS:
    mediaType: text/netlify
    baseName: _redirects
    notAlternative: true

outputs:
  home: [HTML, REDIRECTS, RSS]

# Site menu (partial -- also see pages with 'menu' in front matter)
menu:
  main:
    - name: Docs
      url: /docs/latest/
      weight: -10
    - name: Install
      url: /docs/latest/tutorials/getting-started/#1-installation
