---
title: Emissary-ingress
features:
  - title: Simple interface
    description: Open source Kubernetes-native API gateway for microservices built on the Envoy Proxy
    icon: interface.svg
---

{{< blocks/cover image_anchor="top" height="min" color="primary" >}}
<img width="60%" src="https://raw.githubusercontent.com/cncf/artwork/master/projects/emissary-ingress/horizontal/color/emissary-ingress-horizontal-color.png" class="site-logo" />
<h2 class="mt-4">
  A Kubernetes-native API gateway for microservices built on the Envoy Proxy
</h2>
<div class="mt-5 mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="/docs/{{< param latest_stable_version >}}/">
		Learn more
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="/docs/{{< param latest_stable_version >}}/quick-start/">
		Quickstart<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="red" %}}
  <h2>Heads up!</h2>

  <p>
    This site is under very active development as we migrate documentation here.
    If you can't find what you're looking for, check out the
    <span style="font-family: monospace; font-weight: bold;">#emissary-ingress</span>
    channel in the <a href="https://slack.cncf.io/" style="color: white;">CNCF Slack</a>.
  </p>
{{% /blocks/lead %}}

{{% blocks/lead color="white" %}}
  <h1>What is Emissary-ingress?</h1>
  <p>
    <b>Emissary-ingress</b> is an open-source Kubernetes-native API Gateway
    + Layer 7 load balancer + Kubernetes Ingress built on <a href="https://envoyproxy.io">Envoy Proxy</a>.
  </p>
{{% /blocks/lead %}}
